<!DOCTYPE html>
<html>
  <head>
   
    <title>HelpingHands</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="X-UA-Compatable" content="IE-edge">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'Index' %>
    <%= stylesheet_pack_tag 'application' %> 
    <%# up for change %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
